body {
  background: url(../../common/images/bg.jpg);
  overflow: hidden;
}
#balloons {
  width: 223px;
  height: 433px;
  background: url(images/balloons.png);
}
#guy {
  position: absolute;
  top: 200px;
  left: 45%;
  width: 134px;
  height: 364px;
  background: url(images/guy-body.png);
}
#guy-head {
  position: absolute;
  top: -38px;
  left: 40px;
  width: 41px;
  height: 65px;
  background: url(images/guy-head.png);
}
#guy-arm-left {
  position: absolute;
  top: 65px;
  left: 10px;
  width: 36px;
  height: 133px;
  background: url(images/guy-arm-left.png);
}
#guy-arm-right {
  position: absolute;
  top: 60px;
  right: 12px;
  width: 32px;
  height: 142px;
  -webkit-transform: rotate(-3deg);
  background: url(images/guy-arm-right.png);
}
#grass {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 310px;
  height: 231px;
  background: url(images/grass.png);
}